<!DOCTYPE html>
<html lang="es">
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
	<!-- FONTS -->
	 <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">  
</head>
<body>
	<header>
		<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="QR"
  agent-id="0b5fba0e-bc0d-4f77-b03d-af9f66721f0d"
  language-code="es"
></df-messenger>
		{% include nav.html %}
	</header>
	<main>
		{{ content }}
	</main>
	<footer>
		&copy 2020 Ammiel Lopez | Todos los derechos reservados
	</footer>
</body>
</html>
